<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb> -->
      </div>

      <div class="row mt-4">
        <div class="col-md-4 mx-auto"> 
        <div class="card">
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Grade</th>
                        <th>Curriculum</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of gradesInfo">
                            <td> {{item.grade}}</td>
                            <td> 
                                <button mat-icon-button (click)="$event.stopPropagation()" (click)="removeRow(item)"
                    class="tbl-action-btn remove" *ngIf="item.hasCCL">
                    <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                  </button>

                  <button mat-icon-button (click)="$event.stopPropagation()" (click)="editCall(item)"
              class="tbl-action-btn" *ngIf="item.hasCCL">
              <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
            </button>

            <button mat-icon-button  color="primary" (click)="addItem(item)" class="tbl-action-btn" *ngIf="!item.hasCCL">
                <app-feather-icons [icon]="'plus'" [class]="'tbl-fav-plus'"></app-feather-icons>
              </button>

              <button mat-icon-button  color="primary" (click)="viewItem(item)" class="tbl-action-btn" *ngIf="item.hasCCL">
                <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-eye'"></app-feather-icons>
              </button>
                            </td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>
            </div>
            </div>

      </div>
      </section>