<section class="content">
    <!-- Loading spinner -->
    <div *ngIf="auth.requestInProgress$ | async" class="tbl-spinner">
     <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
     </mat-progress-spinner>
   </div>
   <div class="content-block">
     <div class="block-header" *ngFor="let breadscrum of breadscrums">
       <!-- breadcrumb -->
       <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
       </app-breadcrumb>
     </div>
     <div class="d-flex justify-content-end">
       <button mat-menu-item (click)="refresh()">
         <mat-icon>refresh</mat-icon>
         <span>Refresh</span>
       </button>
     </div>
     <div class="row">
       <div class="col-md-12 col-sm-12">
         <div class="card">
           <div class="card-body">
             <div class="row">
               <div class="col-md-2 col-sm-12 p-l-30">
                 <p *ngIf="filters && filters.length">Filters</p>
                 <div class="filter-container" *ngIf="filters && filters.length">
                   <ul>
                     <li *ngFor="let filter of filters">
                       <mat-checkbox [checked]="filter.checked" [value]="filter.value" color="primary"
                         (change)="changeCategory($event, filter)">
                         {{filter.value | titlecase}}
                       </mat-checkbox>
                     </li>
                   </ul>
                 </div>
               </div>
               <div class="col-md-10 col-sm-12">
                 <div class="panel-body">
                   <full-calendar [options]='calendarOptions' [events]="calendarEvents">
                   </full-calendar>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>


 <ng-template #formDialogTemplate let-dialogRef="dialogRef">


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Teachers List</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Teacher Name</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Details</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="media-title"><a> {{info?.tName | titlecase}}
                        </a></div>
                    </td>
                    <td>{{info?.title | titlecase}}</td>
                    <td>{{info?.startDate | date: 'MM/dd/yyyy'}}</td>
                    <td>{{info?.details}}</td>
                    <td>
                      <div class="badge badge-solid-green">{{info?.status | titlecase}}</div>
                    </td>
                    
                  </tr>                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    
</ng-template>
 