<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <!-- header section -->

          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2 *ngIf="user.role === 'Student'">All Students</h2>
                  <h2 *ngIf="user.role === 'Teacher'">All Teachers</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input placeholder="Search" type="text" #filter class="browser-default search-field"
                    aria-label="Search box" (keyup)="applyFilter(filter.value)">
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="ADD">
                    <button mat-mini-fab color="primary" (click)="addNew()">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="REFRESH">
                    <button mat-mini-fab color="primary" (click)="refresh()">
                      <mat-icon class="col-white">refresh</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        <div class="body overflow-auto">
        <div class="responsive_table">  
      <table matSort class="mat-cell advance-table" mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="raiseby_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element" class="align-middle"> {{element.raiseby_name}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
          <mat-cell *matCellDef="let element" class="align-middle"> {{element.description}} </mat-cell>
        </ng-container>
                       
        <ng-container matColumnDef="closure">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Closure </mat-header-cell>
          <mat-cell *matCellDef="let element" class="align-middle"> {{element.closure ? element.closure : 'N/A'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="done">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Done </mat-header-cell>
          <mat-cell *matCellDef="let element" class="align-middle"> {{element.done ? 'Yes' : 'No'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell class="pr-0" *matHeaderCellDef>Actions
          </mat-header-cell>
          <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
            <button mat-icon-button (click)="$event.stopPropagation()" (click)="editCall(row)"
              class="tbl-action-btn">
              <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
            </button>
            <button mat-icon-button (click)="$event.stopPropagation()" (click)="deleteItem(row)"
              class="tbl-action-btn">
              <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
            </button>
          </mat-cell>
        </ng-container>

    
    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
  </mat-row>
  </table>

  <div *ngIf="isTblLoading" class="tbl-spinner">
    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div *ngIf="!isTblLoading" class="no-results" [style.display]="totalItems === 0 ? '' : 'none'">">
                        No results
                      </div>
      </div>
    </div>
    </div>
    </div>
  </div>
  </div>
</section>


<ng-template #formDialogTemplate let-dialogRef="dialogRef">

  <div class="row clearfix">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="header">
          <h2>Add Pricing</h2>
        </div>
        <div class="body">
          <form [formGroup]="supportForm" class="m-4">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="form-field">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="" type="text" formControlName="description"></textarea>
                <mat-error *ngIf="supportForm.get('description')?.hasError('required')">Description is required</mat-error>
              </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="form-field">
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="date">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" mat-raised-button color="primary" (click)="postSupport()">Submit</button>
                  <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
                </div>
              </div>
            </form>
        </div>
        </div>
        </div>
        </div>    

</ng-template>
