<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb> -->
        </div>

        <div class="row mt-4">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
                <h5>Curriculum for {{item.grade | titlecase}}</h5>
                                <mat-accordion>
                                    <mat-expansion-panel *ngFor="let x of ccl">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                #{{x.sno}} {{x.lesson_name | titlecase}}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                              <div class="panel-body">
                                                {{x.description | titlecase}}
                                              </div>
                                            </div>
                                          </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
                                <button type="button" mat-raised-button color="warn" (click)="goBack()">Back</button>
                                </div>
                                </div>
                    
    </div>
</section>